
.dashCon .content{
    width: 100%;
    background: #F6F7FB;
    padding: 33px 20%;
}
.dashCon .content h3 {
    font-size: 20px;
    font-family: Gilroy ExtraBold;
    text-align: center;
    font-weight: bolder;
}

.dashCon .content .create{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.dashCon .content .create a{
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Gilroy ExtraBold';
}
.dashCon .content .ok{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.dashCon .content .ok a{
    color: white;
    border-bottom: 2px solid white;
    font-size: 50px;
    padding-bottom: 0;
    font-family: 'Gilroy ExtraBold';
    font-weight: 500;
}
.dashCon .container-fluid{
    position: relative
}
.dashCon .passCre{
    background: black;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Gilroy ExtraBold;
    padding: 5rem 0;
    width: 600px;
    display: none
}
.dashCon .passCre h1{
    font-size: 45px;
}

/*MEADIA SIGN_UP */

@media (max-width: 990px){
    .dashCon .content{
        padding: 33px 5%
    }
}
@media (max-width: 400px){
    .dashCon .passCre{
        width: auto;
        padding: 3rem ;
    }
    .dashCon .passCre h1 {
        font-size: 30px;
    }
}